<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
    <meta charset="utf-8">
    <link href="/static/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script type="application/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="application/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="application/javascript" th:src="@{/js/bootstrap-select.min.js}"></script>
    <script type="application/javascript" th:src="@{/js/nav.js}"></script>
</head>
<body>
<div style="height: 52px; width: 100%;background-color: #f8f8f8">
    <div id="mynav"></div>
</div>
<div class="container-fluid">
    <h1>Welcome!</h1>
    <p>这是一个公共页面，不用登录也能访问。</p>

</div>
</body>
</html>